
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="z-index: 1100; position:fixed;top:120px ;width: 50%;margin-left: 25%; display : none;" id="reg_succ">
        <strong>¡Bien!</strong> Registro exitoso.Checa tu correo electrónico.
        <button type="button" class="close" id="alert-btn1">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index: 1100; position:fixed;top:120px ;width: 50%;margin-left: 25%; display : none;" id="reg_err2">
        <strong>¡Error!</strong> El correo no existe.
        <button type="button" class="close" id="alert-btn2">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index: 1100; position:fixed;top:120px ;width: 50%;margin-left: 25%; display : none;" id="reg_err3">
        <strong>¡Error!</strong> La contraseña y la confirmación es incorrecta.
        <button type="button" class="close" id="alert-btn3">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index: 1100; position:fixed;top:120px ;width: 50%;margin-left: 25%; display : none;" id="reg_err4">
        <strong>¡Error!</strong> La contraseña debe ser de 8 a 20 caracteres.
        <button type="button" class="close" id="alert-btn4">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index: 1100; position:fixed;top:120px ;width: 50%;margin-left: 25%; display : none;" id="reg_err5">
          <strong>¡Error!</strong> El usuario y la contraseña no coinciden.
          <button type="button" class="close" id="alert-btn5">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index: 1100; position:fixed;top:120px ;width: 50%;margin-left: 25%; display : none;" id="reg_err6">
          <strong>¡Error!</strong> El usuario ya existe.
          <button type="button" class="close" id="alert-btn6">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="alert alert-success alert-dismissible fade show" role="alert" style="z-index: 1100; position:fixed;top:120px ;width: 50%;margin-left: 25%; display : none;" id="reg_err7">
          <strong>¡Excelente!</strong> Gracias por la compra.
          <button type="button" class="close" id="alert-btn7">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index: 1100; position:fixed;top:200px ;width: 50%;margin-left: 25%; display : none;" id="reg_err8">
          <strong>¡Cuidado!</strong> No hay la cantidad que pide.
          <button type="button" class="close" id="alert-btn8">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="z-index: 1100; position:fixed;top:200px ;width: 50%;margin-left: 25%; display : none;" id="reg_err9">
          <strong>¡Cuidado!</strong> No agregaste nada a el carrito.
          <button type="button" class="close" id="alert-btn9">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>