
    <div class="row ">
        <div class="col-3 f-col"></div>
        <div class="col footer-left">
            <center><p class="h6 text_grey pt-3">SÍGUENOS</p>
            <a href="https://www.facebook.com/sensacinemx" target="blank" class="text_grey h1 mr-3 c_face" ><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/SensaCineMx" target="blank" class="text_grey h1 mr-3 c_twe" > <i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/sensacinemx/" target="blank" class="text_grey h1 mr-3 c_ins" > <i class="fab fa-instagram"></i></a>
            <p class="text_grey">sensacinefcfm@gmail.com</p></center>
        
        </div>
        <div class="col footer-right p-4">
            <a href="https://company.boxoffice.com/" target="blank" class="ml-5" >
                <img src="https://www.boxofficepro.com/wp-content/uploads/2019/09/5-Logo-No-Shape-White.png" alt="" style="width: 90px; height: 60px;">
            </a>
           
        </div>
        <div class="col-3 f-col"></div>
    </div>
    <div class="row foot_bottom" style="overflow-y: hidden;">
        <div class="col-3"></div>
        <div class="col d-flex align-items-center ">
        <a href="/aboutus" class="text_grey mr-4 ">Acerca de SensaCine México</a>
        <a data-toggle="modal" data-target="#terminos" style="cursor: pointer;" class="text_grey mr-4">Términos de uso</a>
        <a data-toggle="modal" data-target="#politicas" style="cursor: pointer;"class="text_grey mr-4">Política de Privacidad</a>
        <h6 class="text_grey mt-1 ">©SensaCine México</h6>
        </div>
    </div>
   
  

    <%- include("alerts") -%>

    <div class="modal fade" id="terminos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Términos de uso</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h5>AVISO LEGAL</h5>
                El presente aviso legal recoge las condiciones generales que rigen el acceso y el uso del sitio web http://www.sensacine.com.mx del que es titular WEBEDIA MÉXICO SA de CV, con domicilio social en Avenida Revolución 1392, COLONIA GUADALUPE INN, 01020 CDMX Ciudad de México y numero RFC WME1705046A0.
                
                El uso del sitio web implica la expresa y plena aceptación de estas condiciones generales en la versión publicada en el momento en que el usuario acceda al mismo, sin perjuicio de las condiciones particulares que pudieran aplicarse a algunos de los servicios concretos del sitio web.
                
                <h5>PROPIEDAD INTELECTUAL E INDUSTRIAL SOBRE LOS CONTENIDOS DE LA PÁGINA</h5>
                Todos los elementos que forman el sitio web, así como la estructura, diseño y código fuente de la misma, son titularidad de WEBEDIA MÉXICO SA de CV y están protegidos por la normativa de propiedad intelectual e industrial. En cualquier caso, WEBEDIA MÉXICO SA de CV dispone de la correspondiente autorización para dar el uso que crea conveniente a sus contenidos.
                
                No se podrán realizar actos de reproducción, modificación, distribución o comunicación pública del sitio web o alguno de sus elementos sin el previo consentimiento por escrito de WEBEDIA MÉXICO SA de CV Los usuarios del sitio web únicamente podrán realizar un uso privado y personal de los contenidos de éste. Está absolutamente prohibido, el uso del sitio web o de alguno de sus elementos con fines comerciales o ilícitos.
                
                WEBEDIA MÉXICO SA de CV no asumirá ninguna responsabilidad derivada del uso por terceros del contenido del sitio web y podrá ejercitar todas las acciones civiles o penales que le correspondan en caso de infracción de estos derechos por parte del usuario.
                
                <h5>PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL</h5>
                WEBEDIA MÉXICO SA de CV es la entidad responsable del fichero de datos generado con los datos de carácter personal suministrados por los usuarios de su sitio web de conformidad con el Aviso de Política de Privacidad de Sensacine México en vigor.
                
                De acuerdo con la Ley General de Protección de Datos Personales en Posesión de los Particulares de fecha 5 de julio de 2010 y su Reglamento de fecha 21 de diciembre de 2011 y sus modificaciones, WEBEDIA MÉXICO SA de CV se compromete al cumplimiento de su obligación de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad previsto en la Ley. A estos efectos, adoptará las medidas necesarias para garantizar su confidencialidad, integridad y disponibilidad y mantener exactos, completos, correctos y actualizados los datos personales en su posesión, a fin de que no se altere la veracidad de estos de conformidad con el Aviso de Política de Privacidad de Sensacine México en vigor y los mecanismos establecidos en esto.
                
                Con el fin de mejorar las prestaciones del sitio web, WEBEDIA MÉXICO SA de CV se reserva el derecho, en cualquier momento y sin previa notificación al usuario, a modificar ampliar o suspender temporalmente la presentación, configuración, especificaciones técnicas y servicios del sitio web, de forma unilateral.
                
                Asimismo, se reserva el derecho de modificar en cualquier momento las presentes condiciones de uso, así como cualesquiera otras condiciones particulares.
                
                Exclusión de responsabilidad
                
                WEBEDIA MÉXICO SA de CV no se responsabiliza de los eventuales errores tipográficos, formales o numéricos que pueda contener el sitio web, ni de la exactitud de la información contenida en él.
                
                <h5>HIPERENLACES</h5>
                Los hiperenlaces contenidos en el sitio web de WEBEDIA MÉXICO SA de CV pueden dirigir a páginas web de terceros. WEBEDIA MÉXICO SA de CV no asume ninguna responsabilidad por el contenido, informaciones o servicios que pudieran aparecer en dichos sitios, que tendrán exclusivamente carácter informativo y que en ningún caso implican relación alguna entre WEBEDIA MÉXICO SA de CV y a las personas o entidades titulares de tales contenidos o titulares de los sitios donde se encuentren.
                
                <h5>COMPRA DE ENTRADAS DE CINE</h5>
                Sensacine México sólo facilita el enlace a la compra de entradas con las principales empresas del sector y no se hace responsable de los errores en la compra: en caso de incidencia, por favor contactar directamente con la empresa vendedora.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn_sensa_priory" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="politicas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Política de Privacidad</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h5>IDENTIDAD Y DOMICILIO DEL RESPONSABLE QUE TRATA LOS DATOS PERSONALES</h5>
                WEBEDIA MÉXICO, S.A. DE C.V., conocida como WEBEDIA (en lo sucesivo WEBEDIA), con domicilio en Calle Oxford Número 30, Colonia Juárez, Delegación Cuauhtémoc, C.P. 06600, Ciudad de México y portal de internet https://www.sensacine.com.mx/ , es el responsable del uso y protección de sus datos personales, de conformidad con los términos del presente Aviso de Privacidad y de acuerdo a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDPPP) y su Reglamento, por lo que nos permitimos infórmale lo siguiente:
                
                <h5>FINES DE TRATAMIENTO DE SUS DATOS PERSONALES</h5>
                WEBEDIA recaba sus datos personales de manera directa, por medios electrónicos ya sea a través de correo electrónico y/o por teléfono, de forma personal de su titular y de manera indirecta por medio de transferencias que le hacen llegar sus empresas filiales.
                
                Los datos personales que WEBEDIA recaba de usted, son utilizados para fines de publicidad y prospección comercial, así como dar seguimiento a comentarios, consultas, quejas y reclamaciones que usted presente en relación con nuestros productos y servicios, mantener controles estadísticos y administrativos y en su caso, para prestar servicios de asesoría en relación a los productos y servicios que ofrece WEBEDIA e integrar una base de datos.
                
                <h5>DATOS PERSONALES SOMETIDOS A TRATAMIENTO</h5>
                Para llevar a cabo las finalidades descritas en el presente Aviso de Privacidad, WEBEDIA podrá recabar y en su caso, tratar los datos personales siguientes: nombre y cuenta de correo electrónico.
                
                <h5>DATOS PERSONALES SENSIBLES A UTILIZAR</h5>
                WEBEDIA no recaba información y/o datos personales considerados como sensibles, que requieran protección especial.
                
               <h5> INFORMACIÓN PERSONAL QUE SE COMPARTE Y LOS FINES PARA LOS CUALES SE HACE</h5>
                Le informamos que WEBEDIA, ésta última podrá compartir sus datos personales únicamente a empresas que formen parte del grupo al que pertenece WEBEDIA, a efecto de mantener controles estadísticos, administrativos y en su caso, para fines de publicidad y prospección comercial, para prestar servicios de asesoría en relación a los productos y servicios de WEBEDIA y del grupo al que pertenece; las empresas que reciban sus datos personales, se encuentran obligadas a proteger sus datos personales proporcionados, en los mismos términos que del presente Aviso de Privacidad, lo anterior sin perjuicio de que se encuentran obligados a proteger sus datos personales, de acuerdo a las disposiciones legales correspondientes.
                
                Para efectos de lo anterior, antes de compartir sus datos personales, WEBEDIA hará del conocimiento de los destinatarios correspondientes, el contenido y alcance del presente Aviso de Privacidad, a efecto de que los datos personales compartidos sean respetados en todo momento de conformidad con lo establecido en el presente Aviso de Privacidad.
                
                WEBEDIA podrá proporcionar sus datos personales a cualquier autoridad de carácter civil, penal o administrativa, de acuerdo a los requerimientos que sean realizados por la Autoridad correspondiente para tal efecto.
                
                En el supuesto de que usted no desee que sus datos personales sean transferidos a otras empresas del grupo al que pertenece WEBEDIA, tiene derecho a manifestarlo, solicitando para tal efecto en el domicilio de WEBEDIA mediante el Departamento de Datos Personales y/o en la página de internet https://www.sensacine.com.mx/ en el apartado Aviso de Privacidad y/o mediante correo electrónico a la cuenta contacto-mx@webedia-group.com, el documento denominado “Solicitud de Ejercicio de Derechos ARCO”, el cual deberá ser llenado y requisitado por usted, a efecto de que lo entregue en el domicilio de WEBEDIA y/o mediante envío a la cuenta de correo electrónico contacto-mx@webedia-group.com antes mencionada, en conjunto con la información y documentación establecida en la referida solicitud, a efecto de cotejar su identidad y poder resolver su solicitud.
                
                Adicional a lo anterior, usted puede manifestar su negativa para el tratamiento de sus datos personales para aquellos fines que no son necesarios, ni hayan dado origen a la relación jurídica con WEBEDIA, lo cual podrá ser solicitado mediante la “Solicitud de Ejercicio de Derechos ARCO” en los términos precisados en el párrafo inmediato anterior.
                
                En los casos en que sus datos personales se obtengan de manera indirecta y tenga lugar un cambio de las finalidades que fueron consentidas por usted en la transferencia de los datos, pondremos a su disposición el Aviso de Privacidad correspondiente, previo al aprovechamiento de los datos personales. Asimismo, cuando el presente Aviso de Privacidad no se haga de su conocimiento de manera directa, ya sea a través de correo electrónico y/o por teléfono o de manera personal, usted tendrá un plazo de cinco días para que, de ser el caso, manifieste su negativa para el tratamiento de sus datos personales para las finalidades que sean distintas a aquéllas que son necesarias y den origen a la relación jurídica entre usted y WEBEDIA. Si usted no manifiesta su negativa para el tratamiento de sus datos de conformidad con lo anterior, se entenderá que ha otorgado su consentimiento para el tratamiento de los mismos.
                
                I. Formas de Acceder, Rectificar o Cancelar sus datos personales, u Oponerse a su uso
                Usted tiene derecho a conocer los datos personales que tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
                
                Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a WEBEDIA. Para tener acceso a la “Solicitud de Ejercicio de Derechos ARCO” y conocer el procedimiento así como los requisitos necesarios para el ejercicio de los derechos ARCO, usted podrá ingresar a nuestra página de internet https://www.sensacine.com.mx/, en el apartado Aviso de Privacidad, o bien enviar un correo electrónico a la siguiente dirección contacto-mx@webedia-group.com y/o ponerse en contacto con nuestro departamento de Datos Personales que se encuentra en el domicilio de WEBEDIA, a efecto de que se le dé trámite a su solicitud para el ejercicio de los citados derechos ARCO y atender así como resolver cualquier duda que pudiera surgir respecto al tratamiento de sus datos personales. Para efecto de lo anterior, el domicilio en que se encuentra ubicado nuestro departamento de Datos Personales, es en en Calle Oxford Número 30, Colonia Juárez, Delegación Cuauhtémoc, C.P. 06600, Ciudad de México, el cual puede ser contactado en la citada cuenta de correo electrónico contacto-mx@webedia-group.com:
                
                II. Forma de revocar su consentimiento para el uso de sus datos personales.
                Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.
                
                Para revocar su consentimiento deberá presentar su “Solicitud para revocar el consentimiento al tratamiento de Datos Personales”. Para tener acceso a la solicitud correspondiente y conocer los requisitos para la revocación del consentimiento, usted podrá ingresar a nuestro sitio de Internet https://www.sensacine.com.mx/ a la sección Aviso de Privacidad, enviar un correo electrónico a la cuenta contacto-mx@webedia-group.com o bien ponerse en contacto con nuestro Departamento de Datos Personales.
                
                III. Forma de limitar el uso o divulgación de su información personal.
                Con objeto de que usted pueda limitar el uso y divulgación de su información personal a fin de que sus datos personales no sean tratados para fines mercadotécnicos, publicitarios o de prospección comercial por nuestra parte, es necesario que se ingresa a nuestro sitio de Internet https://www.sensacine.com.mx/ a la sección Aviso de Privacidad, mediante el envío de un correo electrónico a la cuenta contacto-mx@webedia-group.com o bien ponerse en contacto con nuestro Departamento de Datos Personales, a efecto de que sus datos sean excluidos para los citados efectos, previo cotejo de su identidad, proporcionándonos para tal efecto la documentación que así lo acredite.
                
                IV. Formas de conocer los cambios en este Aviso de Privacidad.
                ctualizaciones derivadas de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.
                
                Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad mediante envío de correo electrónico a la cuenta que usted nos proporcionó y/o a través de nuestro Departamento de Datos Personales y/o mediante aviso en nuestro sitio de internet https://www.sensacine.com.mx/.
                
                V. Uso de tecnologías de rastreo en nuestro portal de Internet
                pias, solamente a través de cookies de sesión (principalmente para el inicio de sesión y las búsquedas). Estas cookies son temporales y se borran al final de la sesión. Nuestra página de internet no utiliza cookies de terceros para el seguimiento del comportamiento del usuario de cara a realizar publicidad personalizada; no obstante, existen determinados casos especiales en los que se pueden aplicar cookies de terceros, lo cual puedes evitar de la siguiente manera:
                
                V.1.- Nuestra página de internet utiliza plug-ins de terceros que podrían generar cookies de terceros, no obstante, estos plug-ins de terceros están incorporados en nuestra web de forma que se requiere una acción específica por tu parte para que se activen, nuestra página de internet contiene botones que permiten al usuario compartir enlaces de la página de internet de WEBEDIA vía Facebook, Google+, Twitter, XING, LinkedIn o Viadeo. Los botones “Compartir”/”Me gusta” de esta página de internet se han integrado mediante un sistema de doble clic que respeta la privacidad. Para impedir un seguimiento no deseado, los botones no se cargarán hasta que hagas clic en ellos. Si no hay una acción explícita por tu parte (clic en los botones de redes sociales), nuestra página web no se comunicará con ninguna red social.
                V.2.- Por defecto, la mayoría de los navegadores permite las cookies automáticamente, pero también ofrece la posibilidad de controlar la mayoría de ellas, incluida la opción de aceptarlas o no y cómo eliminarlas. En el apartado “Herramientas” (o similar) de tu navegador encontrarás información sobre cómo controlar las cookies. En la mayoría de casos puedes configurar tu navegador para que te avise antes de recibir una cookie y te dé la opción de aceptarla o no. También puedes configurar el navegador para que desactive todas las cookies. Sin embargo, esta configuración afectará tanto a las cookies permanentes como a las temporales y, en consecuencia, es posible que no puedas utilizar todas las funciones de la página web.
                Los datos que recabamos en nuestra página de internet los utilizamos con los siguientes fines:
                
                a) Gestión de nuestra página de internet.- Recogemos y utilizamos datos mediante el uso de cookies temporales para poder gestionar la sesión. Esas cookies temporales se borran al final de la sesión.
                b) Optimización de nuestra página de internet.- Con el fin de optimizar nuestra página de internet, recopilamos y utilizamos datos, utilizando herramientas de análisis web.
                c) Presentar una solicitud online.- Cuando envías una solicitud a través de nuestra web, recopilamos y utilizamos tus datos personales mediante un formulario que carga tus datos. Antes de guardar tus datos, solicitaremos tu consentimiento expreso para la recopilación, el tratamiento y el uso de estos datos de acuerdo con el presente Aviso de Privacidad.
                d) Uso de plug-ins sociales.- Hemos incorporado plug-ins sociales (Facebook, Google+, Twitter, XING, LinkedIn y Viadeo) en nuestro sitio web de un modo en el que se requiere tu consentimiento expreso para utilizarlos. De este modo, a través de los plug-ins sociales no se comparte ningún dato personal sin tu consentimiento.
                Adicional a lo anterior, le informamos que WEBEDIA forma parte de una organización internacional con procesos de negocio, estructuras de gestión y sistemas técnicos en muchos países y jurisdicciones. Como tal, podemos compartir datos personales o los derivados correspondientes que se obtienen a través de estas tecnologías, dentro de las empresas que forman parte del grupo al que pertenece WEBEDIA y transferirlos a otros países del mundo donde tenemos negocios relacionados con los fines identificados, de conformidad con este aviso. Puedes consultar la lista de miembros del grupo al que pertenece WEBEDIA en la página de internet https://www.sensacine.com.mx/.
                
                Por último, nos permitimos informarles que nuestra página de internet utiliza Google Analytics, un servicio de análisis web que ofrece Google, Inc. («Google»). Google Analytics emplea cookies, que son archivos de texto que se instalan en tu ordenador y que permiten que el sitio web analice cómo utilizan el sitio sus usuarios. La información generada por la cookie sobre cómo usas el sitio web (incluida tu dirección IP) se transmitirá a Google. Google utilizará esta información a efectos de evaluar el uso que haces del sitio web, recopilando informes sobre la actividad para los operadores de la página y prestando otros servicios relacionados con la actividad de la web y el uso de internet.
                
                Google también podrá transferir esta información a terceros cuando la ley así lo regule o cuando dichas partes procesen la información en nombre de Google. Google no asociará tu dirección IP a ningún otro dato guardado por Google. Puedes negarte al uso de cookies mediante la configuración adecuada de tu navegador, pero ten en cuenta que, en ese caso, es posible que no puedas utilizar todas las funciones de la página. En virtud de lo anterior, al visitar nuestra página de internet, autorizas que se realice el tratamiento de tus datos del modo y para los fines indicados.
                
                Para mayor información sobre el uso de estas tecnologías, puede consultar el sitio de Internet https://www.sensacine.com.mx/ en la sección de política de privacidad y uso de cookies.
                
                <h5>FACULTAD DE ACUDIR AL INSTITUTO NACIONAL DE TRANSPARENCIA, ACCESO A LA INFORMACIÓN Y PROTECCIÓN DE DATOS PERSONALES (INAI)</h5>
                Nos permitimos hacer de su conocimiento que usted tiene la libertad de acudir en cualquier momento al Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI) en caso de que así lo determine en beneficio de sus respectivos intereses.
                
                <h5>SU CONSENTIMIENTO PARA EL TRATAMIENTO DE SUS DATOS PERSONALES</h5>
                Le informamos que en caso de que usted no se niegue a que sus datos personales sean tratados después de haber conocido el presente Aviso de Privacidad, se tendrá su consentimiento de forma tácita, por lo que usted acepta en todos y cada una de sus partes el presente Aviso de Privacidad, consintiendo que sus datos personales sean tratados de conformidad con los términos y condiciones informados en el presente documento.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn_sensa_priory" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div>